.big-container {
    max-width:1280px;
    display: flex;
    gap: $container-gap;
    margin-top: 2%;
    margin-left: 2px;
    @media (max-width: 768px) {
      flex-direction: column;
    }
}
.small-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: $small-container-width;
}
  
.text-container {
    width: $bottom-container-width;
}
  
.inner-container {
    display: flex;
    justify-content: space-between;
}
.text-container {
    width: 35%;
  }
.title {
    font-size: $title-font-size;
    max-width: 300px;
    line-height: 37.5px;
    margin-top: 4px;
    margin-bottom: 10px;
    font-weight: bolder;
    color: $primary-color;
}
  
.description {
    font-size: $description-font-size;
    max-width: 307px;
    line-height: 26px;
    color: $text-color;
}
  