.gallery{
  width: 940px;
}
.gallery, .bottom-gallery {
    overflow: hidden;
    margin-bottom: 4px;
    ul {
      display: flex;
      flex-wrap: nowrap;
      gap: 10px;
      list-style: none;
    }
  
    li {
      height: $image-height;
    }
  
    img {
      height: 100%;
      border-radius: 5px;
    }
  }
  
  .bottom-gallery {
    transform: translateX(-100px);
    width: 880px;
  }
  
  .img-hover {
    transform: translateX(-2px);
    @include transition(transform, 0.3s, ease);
  }
  
  .img-hover-right {
    transform: translateX(2px);
    @include transition(transform, 0.3s, ease);
  }
  