body {
  font-family: 'Source Sans Pro', sans-serif;
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
header{

  display: flex;
  justify-content: space-between;

  max-width: 940px;
  border-radius: 5px;
  margin: 0 auto;
  width: 940px;
  height: 100px;
}
footer{
  margin: 0 auto;
  max-width: 940px;
  width: 940px;
  background-color: #DDDDDD;
  border-radius: 5px;
  
  height: 100px;

 
}
.left-header-container{
  background-color: #DDDDDD;
  height: 100%;
  width: 301px;
  border-radius: 5px;
}
.right-header-container{
  background-color: #DDDDDD;
  height: 100%;
  width: 621px;
  border-radius: 5px;
}