@mixin hover-effect($border-color) {
    &:hover {
      border: 0.5px solid $border-color;
    }
  }
  
  @mixin transition($property, $duration, $ease) {
    transition: $property $duration $ease;
  }
  
  @mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  