$primary-color: #134880;;
$secondary-color: #A1A1A1;
$text-color: #484A4C;
$background-color: #ffffff;

$max-width: 940px;
$container-gap: 1rem;
$small-container-width: 940px;
$bottom-container-width: 35%;
$image-height: 200px;
$title-font-size: 32px;
$description-font-size: 18px;
$button-size: 60px;
