$primary-color: #255282;
$secondary-color: #A1A1A1;
$text-color: #706E6F;
$background-color: #ffffff;

$max-width: 940px;
$container-gap: 1rem;
$small-container-width: 562px;
$second-container-width: 35%;
$image-height: 115px;
$title-font-size: 22px;
$description-font-size: 12px;
$button-size: 35px;
